#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  overflow: scroll;
  overflow-x: hidden;
}

#overlayText {
  position: absolute;
  top: 100px;
  right: 10%;
  left: 10%;
  font-size: 24px;
  color: black;
  background-color: white;
  width: 80%;
  height: auto;
  z-index: 3;
  border: solid 3px black;
  padding: 20px;
}

#overlayClose {
  position: absolute;
  border-radius: 25px;
  top: 40px;
  right: 10%;
  width: 200px;
  height: 50px;
  font-size: 32px;
  border: solid 3px black;
  background-color: white;
  color: black;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

#centeredElement {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
